* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    min-width: 100vh;
    
        .imgFondo{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .imgIn{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 140%;
            filter: brightness(60%);
            object-fit: cover;
        }
        }
    }
    .container{
        position: absolute;
        display: flex;
        display: inline-block;
        justify-content: center;
        align-items: center;
        margin-left: 30%;
        width: 700px;
        .menLogin{
            width: 100%;
            position: relative;
            height: 600px;
            margin-left: 10%;
            margin-top: 150px;
            background-color: aquamarine;
        }
        .imgLogin{
         position: relative;
            width: 400px;
            display: flex;
            justify-content: center;
            margin-left: 20%;
            bottom: 200px;
        }
        h2{
            font-size:30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            margin-left: 180px;
            margin-bottom: 50%;
        }
    }

